
body {
  position: relative;
  font-family: "DancingScript", cursive;
}

.photo-gallery {
  column-count: 5;
  column-gap: 0.5em;
  width: 100%; 
}

.gallery-item {
  position: relative;
  break-inside: avoid;
  margin-bottom: 0.5em;
  outline: 2px solid #fff;
  outline-offset: -10px;
  overflow: hidden; 
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto; 
  background: rgba(22, 22, 22, 0.1);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: height 0.5s ease-out;
  text-align: left;
  padding: 25px;
  box-sizing: border-box;
  font-family: "DancingScript", cursive;
  opacity: 0;
}

.description-content {
  width: 100%;
  text-align: left;
  color: #fff;
  margin-bottom: -24px; 
}


.edit-button {
  position: absolute;
  bottom: 7px; 
  right: 10px;
  background-color: transparent; 
  color: #ffffff;
  border: none; 
  cursor: pointer; 
  padding: 5px; 
  transition: transform 0.3s; 
}

.edit-button i { 
  font-size: 16px; 
}

.edit-button:hover i { 
  transform: scale(1.2); 
}

.gallery-item:hover .description {
  height: 100%;
  opacity: 1;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-number {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, width 0.3s, height 0.3s, border-radius 0.3s; 
  border-radius: 5px; 
}

.page-number:hover {
  width: 30px;
  height: 30px;
  border-radius: 8px; 
}

.page-number.active {
  background-color: #000;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 8px; 
}


.reactions-count {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  margin-top: 5px;
  position: absolute;
  top: 5px;
  right: 30px;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
  transition: none; 
}

.reactions-count.show {
  animation: subirYDesvanecer 2s ease-in-out forwards;
}

@keyframes subirYDesvanecer {
  0% {
    opacity: 1;
    top: 5px;
  }
  100% {
    opacity: 0;
    top: -10px; 
  }
}

.ui-like {
  --icon-size: 20px;
  --icon-secondary-color: rgb(255, 255, 255);
  --icon-hover-color: rgb(211, 205, 205);
  --icon-primary-color: rgb(230, 26, 26);
  --icon-circle-border: 1px solid var(--icon-primary-color);
  --icon-circle-size: 35px;
  --icon-anmt-duration: 0.3s;
  
}

.ui-like input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.ui-like .like {
  width: var(--icon-size);
  height: var(--icon-size);
  fill: var(--icon-secondary-color);
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  top: 10px; 
  right: 10px;
}

.like::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  border-radius: 50%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.like::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: var(--icon-circle-border);
  opacity: 0;
}

/* actions */

.ui-like:hover .like {
  fill: var(--icon-hover-color);
}

.ui-like input:checked + .like::after {
  -webkit-animation: circles var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circles var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

.ui-like input:checked + .like {
  fill: var(--icon-primary-color);
  -webkit-animation: like var(--icon-anmt-duration) forwards;
  animation: like var(--icon-anmt-duration) forwards;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.ui-like input:checked + .like::before {
  -webkit-animation: circle var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circle var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

@-webkit-keyframes like {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes like {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}