body {
    position: relative;
  }
  
  
  .photo-gallery {
    column-count: 5;
    column-gap: 0.5em;
    width: 100%; 
  }
  
  .gallery-item {
    position: relative;
    break-inside: avoid;
    margin-bottom: 0.5em;
    outline: 2px solid #fff;
    outline-offset: -10px;
    overflow: hidden; 
    position: relative;
    overflow: hidden;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  
  .description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto; 
    background: rgba(22, 22, 22, 0.1);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: height 0.5s ease-out;
    text-align: left;
    padding: 25px;
    box-sizing: border-box;
    opacity: 0;
  }
  
  .description-content {
    width: 100%;
    text-align: left;
    color: #fff;
    margin-bottom: -28px; 
  }
  
  .gallery-item:hover .description {
    height: 100%;
    opacity: 1;
  }

  .edit-btn{
    position: absolute;
    bottom: 7px; 
    right: 10px;
    background-color: transparent; 
    color: #ffffff;
    border: none; 
    cursor: pointer; 
    padding: 5px; 
    transition: transform 0.3s; 
  }
  
  .edit-btn i { 
    font-size: 16px; 
  }
  
  .edit-btn:hover i { 
    transform: scale(1.2); 
  }



 
  .button1,button::after {
    padding: 10px 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: rgb(3, 3, 3);
    background-color: transparent;
    position: relative;
    left: 150px; 
    top: 150px;
    
  }
  
  .button1::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'Aún no tienes imagenes subidas.';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
  
  .button1:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
    background-color: transparent;
    border: 3px solid rgb(0, 255, 213);
  }
  
  .button1:hover {
    text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
  }
  
  .button1:hover {
    background-color: transparent;
    border: 1px solid rgb(0, 255, 213);
    box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
  }
  
  @keyframes glitch_4011 {
    0% {
      clip-path: var(--move1);
      transform: translate(0px,-10px);
    }
  
    10% {
      clip-path: var(--move2);
      transform: translate(-10px,10px);
    }
  
    20% {
      clip-path: var(--move3);
      transform: translate(10px,0px);
    }
  
    30% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    40% {
      clip-path: var(--move5);
      transform: translate(10px,-10px);
    }
  
    50% {
      clip-path: var(--move6);
      transform: translate(-10px,10px);
    }
  
    60% {
      clip-path: var(--move1);
      transform: translate(10px,-10px);
    }
  
    70% {
      clip-path: var(--move3);
      transform: translate(-10px,10px);
    }
  
    80% {
      clip-path: var(--move2);
      transform: translate(10px,-10px);
    }
  
    90% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    100% {
      clip-path: var(--move1);
      transform: translate(0);
    }
  }
  
  
  
  
  
  
  
  
  