<body>
  <div class="photo-gallery">
    <button *ngIf="photos.length === 0" class="button1" >
      Aún no tienes imágenes subidas.
    </button>

    <div *ngFor="let photo of photos" class="gallery-item" (mouseenter)="showDescription = true" (mouseleave)="showDescription = false">
      <img [src]="'http://localhost:4000/' + photo.imagePath" alt="Foto">
      <div class="description" *ngIf="showDescription">
        <div class="description-content">
          <p>{{photo.title}}</p>
          <button class="edit-btn" (click)="selectedCard(photo._id)">
            <i class="fas fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
